.PanelTitulo{
    text-align: center;
    height: 15px;
}

#Titulo{
    padding: 10px;
    background-color: rgb(212, 212, 212);
    color: black;
}

.Contenedor {
    display: flex;
    width: 100%;
    height: 100%; 
}

.PanelIzquierdo {
    flex:  0 0 30%; 
    background-color: #212121;
    color: #fff;
    padding: 15px;
    gap: 10px;
    padding-top: 100px;
    font-weight: bold;
}

.PanelDerecho {
    flex: 1; 
    background-color: #3d3d3d;
    color: #fff;
    padding: 15px;
    font-weight: bold;
}

.ButtonsIzq{
    width: 200px;
    padding-top: 2px;
}

.Modo{
    padding-bottom: 5px;
    height: 10px;
    width: 150px;
}

.Difficult{
    height: 5px;
    width: 80px;
}

#general{
    padding-top: 25px;
}

#Mundo {
    width: 100%;
    max-width: 250px; 
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px; 
}











