@font-face {
  font-family: "Monocraft";
  src: url("../fonts/Monocraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Monocraft", Monocraft;
}

:root {
  --ion-font-family: "Monocraft", Monocraft;
}

.header {
  --color: #55ff55;
  font-family: Monocraft;
  font-size: 20px;
}

.container {
  text-align: center;
  padding-bottom: 20px;
  background-color: #000;
  min-height: 100vh;
}

#Title {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #8b8b8b;
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #000;
  box-shadow: inset 0 0 0 2px #55ff55;
  font-family: Monocraft;
}

.post-info {
  padding: 10px;
  width: min(480px, 90%);
  margin: 10px auto;
  background-color: #8b8b8b;
  border: 3px solid #000;
  border-radius: 0px;
  box-shadow: inset 0 0 0 3px #c6c6c6;
  text-align: left;
}

.post-info:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: inset 0 0 0 4px rgba(85, 85, 255, 1), 0 5px 0 0 #555555;
}


.post-info h2 {
  color: #212121;
  font-size: 20px;
  font-family: Monocraft;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
}

.post-info p {
  color: #202020;
  font-size: 14px;
  font-family: Monocraft;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

.post-info strong {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.IonButton {
  margin-top: 8px; /* Reducido a 8px */
  width: 160px; /* Ancho un poco más pequeño */
  --background: #5555ff;
  --background-activated: #55ffff;
  --color: #ffffff;
  --border-radius: 0;
  font-family: Monocraft;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: inset 0 0 0 2px #8b8b8b, 0 4px 0 0 #0000aa;
  transition: all 0.1s ease;
}

.IonButton:active {
  box-shadow: inset 0 0 0 2px #8b8b8b, 0 2px 0 0 #0000aa;
  transform: translateY(2px);
}

.icon{
  width: 40px;
  height: 40px;
}

.post-title {
  display: flex;
  align-items: center;
  justify-content: center;
}