.contenedor {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.contenedor h1 {
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}

.contenedor h1 {
    text-decoration: none;
}